#wordsearchresults {
    padding-top: 20px;
    text-align: left;
    // padding: 20px 30px;
    // background-color: $light;

    details.entry {
        margin-bottom: 10px;
        box-shadow: $boxshadow;
        background-color: white;

        summary {
            padding: 8px 15px;

        }

        .the-content {
            padding: 10px 40px;
        }
    }
}